#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.construction {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  color: #707070;
  font-size: 8em;
  opacity: 0.5;
}
.spacer {
  height: 150px;
}
.footer {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:30px;
  color: white;
  text-align: center;
}
a {
  color: #464646;
  text-align: right;
}


@media screen and (max-width: 768px) {
  .construction {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: #707070;
    font-size: 48px;
  }
  .spacer {
    height: 70px;
  }
}
